:root{
    --height-header: 70px
}
.Main-Container{
    height: 100vh;
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
    overflow-y: auto;
    
}
.Main-Container::-webkit-scrollbar-track {
    background: none
  }
.HomeContainer{
    /* height: 100%; */
    background-color :#000;
    color: #fff;
    margin-bottom: 70px;

}
.HomeSong{
    margin-top: var(--height-header);
    min-height: 0px;
    width: 100%;
}