@media (min-width:0px ) and (max-width:599px){
    .hidden-xs{
        display: none;
    }
}

@media (min-width:600px ) and (max-width:899px){
    .hidden-sm{
        display: none;
    }
}

@media (min-width:90px ) and (max-width:1199px){
    .hidden-md{
        display: none;
    }
}

@media (min-width:1200px ) and (max-width:1535px){
    .hidden-lg{
        display: none;
    }
}

@media (min-width:1536px ) {
    .hidden-xl{
        display: none;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 32.5;
    font-size: 0.9rem;

}