.MainPlayerBottom {
  height: 70px;
  position: fixed;
  bottom: 0;
  color: aliceblue;
  /* font-size: 2rem; */
  /* display: flex; */
  padding: 2px 8px;
  justify-content: space-between;
  right: 0;
  left: 0;
  background-color: black;
}
.ControlSong {
}
.ControlSongBtn{
    display: flex;
    justify-content: center;
    align-items: center;

}

.BtnControlSong{
    margin: 0 10px;
}

.TimeSong{
    display: flex;
    
}
.RangeTimeSong{
    width: 100%;
}
.BtnPLayAndPause{
    font-size: 2rem;
}
.RandomActive,
.LoopActive{
    color: rgb(116, 192, 116);
}
.LeftSideConTainer{
display: flex;
align-items: center;
    height: 100%;
    width: 100%;
}
.LeftSideSongImg{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    
}
.TitleSong{
    white-space: nowrap;
    /* width: 40px; */
    overflow: hidden;
    text-overflow: ellipsis;
}


.RighSidePlayer{
    height: 100%;
}